<template>
    <v-container fluid  class="container">
        <div class="game-container" :style="getContainerStyle" ref="game" :class="carstyle">
            <div v-for="(box, idx) in items" :key="idx" class="customcol" :style="getStyle(box)" @click="clickBox($event, box)">
                <div class="right hoverdark" @click.stop="boxRight(idx, box)"></div>
                <div class="top hoverdark" @click.stop="boxTop(idx, box)"></div>
                <div class="bottom hoverdark" @click.stop="boxBottom(idx, box)"></div>
                <div class="left hoverdark" @click.stop="boxLeft(idx, box)"></div>
                <div class="marker" v-if="box.marker" :style="'background-color: ' + box.markerColor"></div>
                <div class="car-container">
                <img src="car.png" class="car"  v-if="box.car" />
                </div>
                <div class="visited number" v-if="visitednumbers">{{box.visited}}</div>
            
            </div>
        </div>
        <v-row justify="space-between" >
            <v-col cols="auto">
                <v-btn @click="cols++" :disabled="cols >= 15">+</v-btn>
                <v-btn :disabled="cols == 1" @click="cols--">-</v-btn>
            </v-col>
            <v-col cols="auto">
                <v-btn @click="clearMark">Clear mark</v-btn>
                <v-btn @click="clearVisit">clear visit</v-btn>
                <div class="pt-2">
                    <p class="ma-0">Click on edge to place wall</p>
                    <p class="ma-0">Click on square to visit</p>
                    <p class="ma-0">CTRL + click to place marker</p>
                    <p class="ma-0">Alt + click to place car</p>
                    <p class="ma-0">Visits: {{visits}}</p>
                </div>
            </v-col>
        </v-row>
        <v-row cols="auto">
            <v-col>
            <v-btn @click="start">start</v-btn>
            </v-col>
            <v-col>
            <v-btn @click="randomize">ramdomize</v-btn>
            </v-col>
            <v-col>
            <v-btn @click="download">download</v-btn>
            </v-col>
            <v-col>
            <v-switch v-model="visitednumbers" label="visitednumbers"></v-switch>
            </v-col>
            <v-col>
            
            <v-switch v-model="lookahead" label="lookahead"></v-switch>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { saveAsPng, saveAsJpeg } from 'save-html-as-image';
export default {
    data: () => {
        return {
            visitednumbers: false,
            cols: 5,
            items: [
            ],
            carstyle: "",
            lookahead: true,
            visits: 0
        }
    },
    methods: {
        download(){

        saveAsPng(this.$refs.game);
        
        },
        randomize(){
            this.clearEdges()
            this.clearMark()
            this.clearVisit()
            this.clearCar()
            let prob = 0.8
            this.items.forEach((x, index) => {
                if(Math.random() >= prob){
                    this.boxRight(index, x)
                }
                if(Math.random() >= prob){
                    this.boxLeft(index, x)
                }
                if(Math.random() >= prob){
                    this.boxTop(index, x)
                }
                if(Math.random() >= prob){
                    this.boxBottom(index, x)
                }

            })
        },
        clearEdges(){
            this.items.forEach((x)=> {
                x.right = false,
                x.left = false,
                x.top = false,
                x.bottom = false
            })
        },
        clearMark(){
            this.items.forEach((x)=> {
                x.marker = false;
                x.markerColor = ""
            })
        },
        clearVisit(){
            this.items.forEach((x)=> {
                x.visited = 0;
            })
        },
        clearCar(){
            this.items.forEach((x)=> {
                x.car = false;
            })
        },
        boxRight(i, box){
            box.right = !box.right
            if(i < this.items.length && (i+1) %this.getcols != 0 ){
                this.items[i+1].left = box.right
            }
        },
        boxLeft(i, box){
            box.left = !box.left
            if(i > 0 && (i) %this.getcols != 0 ){
                this.items[i-1].right = box.left
            }
        },
        boxTop(i, box){
            box.top = !box.top
            if(i > this.getcols-1){
                this.items[i-this.cols].bottom = box.top
            }
        },
        boxBottom(i, box){
            box.bottom = !box.bottom
            if(i < this.getcols*this.getcols - this.getcols){
                this.items[i+this.cols].top = box.bottom
            }

        },
        clickBox(e, box){
            if(e.ctrlKey){
                box.markerColor = this.selectedColor
                box.marker = !box.marker
            } else if(e.altKey){
                if(box.car){
                    box.car = !box.car
                    } else{
                        this.items.forEach((x) => {
                            x.car = false
                    })
                    box.car = !box.car
                }
            } else{
                box.visited > 0 ? box.visited = 0 : box.visited = 1

            }
        },
        start(){
            this.visits = 0
            this.clearCar()
            this.clearMark()
            this.clearVisit()
            this.explore(this.cols*this.cols - this.cols)

        },

        async explore(pos){
            this.visits++
            this.clearCar()
            let promise = new Promise((resolve, reject) => {
                let wait = setTimeout(() => {
                    resolve();
                }, 1000/this.getcols)
            })
            this.items[pos].car = true
            if(this.items[pos].visited > 0 ){
                this.items[pos].visited++     
                return promise
            } else {
                this.items[pos].visited++
            }

            let right = !this.items[pos].right && pos < this.items.length && (pos+1) %this.getcols != 0 && (this.lookahead ? !this.items[pos+1].visited : true)
            let left = !this.items[pos].left && pos > 0 && pos%this.getcols != 0 && this.items[pos-1] && (this.lookahead ? !this.items[pos-1].visited : true)
            let top = !this.items[pos].top && pos > this.getcols-1 && this.items[pos-this.cols] && (this.lookahead ? !this.items[pos-this.cols].visited : true)
            let bottom = !this.items[pos].bottom && pos < this.getcols*this.getcols - this.getcols && this.items[pos+this.cols] && (this.lookahead ? !this.items[pos+this.cols].visited : true)

            return promise
            .then(() => {
                if(left){
                    this.carstyle = "leftcar"
                    this.items[pos].car = false
                    return this.explore(pos-1)
                }
            }).then(() => {
                if(top){
                    this.carstyle = "topcar"
                    this.items[pos].car = false
                    return this.explore(pos-this.cols)
                }
            }).then(()=>{
                if(right){
                    this.carstyle = "rightcar"
                    this.items[pos].car = false
                    return this.explore(pos+1)
                }
            }).then(() => {
                if(bottom){
                    this.carstyle = "bottomcar"
                    this.items[pos].car = false
                    return this.explore(pos+this.cols)
                }
            })
        },

        getStyle(box){
            let string = ""
            box.right ? string += `border-right: solid 3px black;` : null
            box.left ? string += `border-left: solid 3px black;` : null
            box.top ? string += `border-top: solid 3px black;` : null
            box.bottom ? string += `border-bottom: solid 3px black;` : null
            box.visited > 0 ? string+= `background-color: rgba(60, 179, 113, ${box.visited/4})` : null
            return string
        },
        createBlankSquares(){
            class Square {
                constructor(right, left, top, bottom){
                    this.right = right,
                    this.left = left,
                    this.top = top,
                    this.bottom = bottom
                    this.visited = 0
                    this.marker = false
                    this.markerColor = "red"
                    this.car = false
                }
            }
            this.items = []
            for (let i = 0; i < this.getcols*this.getcols; i++) {
                this.items.push(new Square(false, false, false, false))
            }
        },
    },
    watch: {
        cols: {
            immediate: true,
            handler(val){
                this.items = []
                this.createBlankSquares(val)
            }
        }
    },

    computed: {
        getContainerStyle(){
            return `grid-template-rows: repeat(${this.getcols}, 1fr); grid-template-columns: repeat(${this.getcols}, 1fr)`
        },

        getcols(){
            return this.cols
        },


    },

}
</script>

<style lang="scss">
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: lightgray;
    align-items: center
}
.game-container{
    transition: transform 0.3s linear;
    height: 50vw;
    width: 50vw;
    max-height: calc(100vh - 400px);
    max-width: calc(100vh - 400px);
    display: grid;


    &.leftcar{
        .car{
            transform: rotate(-180deg)
        }
    }
    &.topcar{
        .car{
            transform: rotate(-90deg)
        }
    }
    &.rightcar{
        .car{
            transform: rotate(0deg)
        }
    }
    &.bottomcar{
        .car{
            transform: rotate(90deg) 
        }
    }

}
.black-border{
    border: solid 3px black;

}
.customcol{
    background-color: white;
    border: solid 1px lightgrey;
    position: relative;
}
.marker {
    position: absolute;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: red;
}
.right{
    right: 0;
    top: 0;
    bottom:0;
    width: 20px;
    position: absolute;
}
.top{
    right: 0;
    top: 0;
    left:0;
    height: 20px;
    position: absolute;
}
.left{
    left: 0;
    top: 0;
    bottom:0;
    width: 20px;
    position: absolute;
}
.bottom{
    right: 0;
    left: 0;
    bottom:0;
    height: 20px;
    position: absolute;
}
.hoverdark{
    &:hover{
        background: darkgray;
    }
}
.car-container{
    transform: translateX(-50%) translateY(-50%);
    transform-origin: center center;
    left: 50%;
    top: 50%;
    width: 80%;
    position: absolute !important;
    display: flex;
    
    .car{
        width: 100%;
        pointer-events: none !important;
    }
}
</style>